/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: ##10b4bb;
  /* Logo: #ec424c | #b42a4c | #2f2a41*/
  /*#332b4d, #0377a5 */
  /*#68ac39, #0377a5 */
}

.form-group {
  margin-bottom: 15px;
}

input,
select {
  padding: 10px;
  font-size: 16px;
}

.btn-primary-custom {
  border-color: #3075b4 !important;
  background-color: ##1f3f6f !important; /* Blue */
  color: white !important; /* Text color */
}

.btn-primary-custom:hover {
  background-color: ##213461 !important; /* Darker on hover */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f8f8f8;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
